/.DS_Store
/__pycache__

/docs
/figures
/md_soft
/workspace.code-workspace

/genome_architecture_entropy/config_auto.ini
/genome_architecture_entropy/toymodel.npy
/genome_architecture_entropy/data

/genome_architecture_entropy/main_stat.py
/genome_architecture_entropy/main_simple_plot.py

/genome_architecture_entropy/toymodel/__pycache__/
/genome_architecture_entropy/toymodel/md_soft/out
/genome_architecture_entropy/toymodel/md_soft/restraints
/genome_architecture_entropy/toymodel/out

sampling-frequency.png
genome_architecture_entropy/toymodel/md_soft/initial_structure copy.pdb
genome_architecture_entropy/toymodel/config_auto.ini
config_auto.ini
.vscode/settings.json
