/.DS_Store
/__pycache__

/docs
/figures
/md_soft
/workspace.code-workspace

/genome_architecture_entropy/config_auto.ini
/genome_architecture_entropy/toymodel.npy
/genome_architecture_entropy/data
/genome_architecture_entropy/__pycache__
/genome_architecture_entropy/main_stat.py
/genome_architecture_entropy/main_simple_plot.py

/genome_architecture_entropy/toymodel/__pycache__
/genome_architecture_entropy/toymodel/restraints
/genome_architecture_entropy/toymodel/traceback_md_soft.txt